@import '../../../../styling/theme';
@import '../../../../styling/fonts';

.plant-item-wrapper {
  height: 250px;
  width: 200px;
  text-align: center;
  border: solid 1px $dark-color;
  margin: 10px;
  padding: 10px;

  .image-wrapper {
    height: 90%;

    img {
      width: 100%;
      max-height: 100%;
    }
  }
}
